body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  margin: auto;
  max-width: 800px;
}

.d-flex {
  display: flex;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

.p-sm {
  padding: 5px;
}

.p-md {
  padding: 10px;
}

.p-lg {
  padding: 20px;
}

.f-grow {
  flex-grow: 1;
}

.f-column {
  flex-direction: column;
}

.p-vertical-md {
  padding-top: 10px;
  padding-bottom: 10px;
}

.border-bottom {
  border-bottom: 1px solid rgb(189, 189, 189);
}

.m-bottom-lg {
  margin-bottom: 20px;
}

.bold-6 {
  font-weight: 600;
}

.font-md {
  font-size: 1.2em;
}

.p-bottom-md {
  padding-bottom: 10px;
}

input[type=text] {   
    /* Remove First */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}